*.asv#
*.zip

# Other mods I am checking out but don't want to accidentally add to my git repo

Breakpoint and Recipe UI Panels/*
CountessRuneDropFix/*
CowKingDropFix/*
ExpandedCube/*
ExpandedInventory/*
ExpandedStash/*
PUT YOUR MODS HERE
SettingsFontFix/*
ShowItemLevel/*
SingleplayerRunewords/*
Towns QoL Changes/*